executable_files/
executable_files/0-isupper
executable_files/0-positive_or_negative
executable_files/0-preprocessor
executable_files/1-compiler
executable_files/1-isdigit
executable_files/1-last_digit
executable_files/10-add
executable_files/10-print_triangle
executable_files/100-intel
executable_files/100-print_comb3
executable_files/100-times_table
executable_files/101-natural
executable_files/101-print_comb4
executable_files/102-fibonacci
executable_files/102-print_comb5
executable_files/103-fibonacci
executable_files/11-print_to_98
executable_files/2-assembler
executable_files/2-mul
executable_files/2-print_alphabet
executable_files/2-print_alphabet_x10
executable_files/3-islower
executable_files/3-name
executable_files/3-print_alphabets
executable_files/3-print_numbers
executable_files/4-print_alphabt
executable_files/4-print_most_numbers
executable_files/5-more_numbers
executable_files/5-print_numbers
executable_files/5-sign
executable_files/6-print_line
executable_files/6-print_numberz
executable_files/7-print_diagonal
executable_files/7-print_last_digit
executable_files/7-print_tebahpla
executable_files/8-24_hours
executable_files/8-print_base16
executable_files/8-print_square
executable_files/9-fizz_buzz
executable_files/9-print_comb
executable_files/9-times_table
executable_files/applypatch-msg.sample
executable_files/c
executable_files/commit-msg.sample
executable_files/f
executable_files/fsmonitor-watchman.sample
executable_files/g
executable_files/post-update.sample
executable_files/pre-applypatch.sample
executable_files/pre-commit.sample
executable_files/pre-merge-commit.sample
executable_files/pre-push.sample
executable_files/pre-rebase.sample
executable_files/pre-receive.sample
executable_files/prepare-commit-msg.sample
executable_files/push-to-checkout.sample
executable_files/tempCodeRunnerFile
executable_files/update.sample
