./.git/hooks/applypatch-msg.sample
./.git/hooks/commit-msg.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/push-to-checkout.sample
./.git/hooks/update.sample
./0x00-hello_world/0-preprocessor
./0x00-hello_world/1-compiler
./0x00-hello_world/100-intel
./0x00-hello_world/101-quote.c
./0x00-hello_world/2-assembler
./0x00-hello_world/3-name
./0x00-hello_world/4-puts.c
./0x00-hello_world/5-printf.c
./0x00-hello_world/6-size.c
./0x00-hello_world/c
./0x01-variables_if_else_while/0-positive_or_negative
./0x01-variables_if_else_while/1-last_digit
./0x01-variables_if_else_while/100-print_comb3
./0x01-variables_if_else_while/101-print_comb4
./0x01-variables_if_else_while/102-print_comb5
./0x01-variables_if_else_while/2-print_alphabet
./0x01-variables_if_else_while/3-print_alphabets.c
./0x01-variables_if_else_while/4-print_alphabt
./0x01-variables_if_else_while/5-print_numbers
./0x01-variables_if_else_while/6-print_numberz
./0x01-variables_if_else_while/7-print_tebahpla
./0x01-variables_if_else_while/8-print_base16
./0x01-variables_if_else_while/9-print_comb
./0x01-variables_if_else_while/tempCodeRunnerFile
./0x02-functions_nested_loops/10-add
./0x02-functions_nested_loops/100-times_table
./0x02-functions_nested_loops/101-natural
./0x02-functions_nested_loops/102-fibonacci
./0x02-functions_nested_loops/103-fibonacci
./0x02-functions_nested_loops/11-print_to_98
./0x02-functions_nested_loops/2-print_alphabet_x10
./0x02-functions_nested_loops/3-islower
./0x02-functions_nested_loops/5-sign
./0x02-functions_nested_loops/7-print_last_digit
./0x02-functions_nested_loops/8-24_hours
./0x02-functions_nested_loops/9-times_table
./0x02-functions_nested_loops/file1
./0x02-functions_nested_loops/file2
./f
./file3
./g
.git/hooks/applypatch-msg.sample
.git/hooks/commit-msg.sample
.git/hooks/fsmonitor-watchman.sample
.git/hooks/post-update.sample
.git/hooks/pre-applypatch.sample
.git/hooks/pre-commit.sample
.git/hooks/pre-merge-commit.sample
.git/hooks/pre-push.sample
.git/hooks/pre-rebase.sample
.git/hooks/pre-receive.sample
.git/hooks/prepare-commit-msg.sample
.git/hooks/push-to-checkout.sample
.git/hooks/update.sample
0x00-hello_world/0-preprocessor
0x00-hello_world/1-compiler
0x00-hello_world/100-intel
0x00-hello_world/101-quote.c
0x00-hello_world/2-assembler
0x00-hello_world/3-name
0x00-hello_world/4-puts.c
0x00-hello_world/5-printf.c
0x00-hello_world/6-size.c
0x00-hello_world/c
0x01-variables_if_else_while/0-positive_or_negative
0x01-variables_if_else_while/1-last_digit
0x01-variables_if_else_while/100-print_comb3
0x01-variables_if_else_while/101-print_comb4
0x01-variables_if_else_while/102-print_comb5
0x01-variables_if_else_while/2-print_alphabet
0x01-variables_if_else_while/3-print_alphabets.c
0x01-variables_if_else_while/4-print_alphabt
0x01-variables_if_else_while/5-print_numbers
0x01-variables_if_else_while/6-print_numberz
0x01-variables_if_else_while/7-print_tebahpla
0x01-variables_if_else_while/8-print_base16
0x01-variables_if_else_while/9-print_comb
0x01-variables_if_else_while/tempCodeRunnerFile
0x02-functions_nested_loops/10-add
0x02-functions_nested_loops/100-times_table
0x02-functions_nested_loops/101-natural
0x02-functions_nested_loops/102-fibonacci
0x02-functions_nested_loops/103-fibonacci
0x02-functions_nested_loops/11-print_to_98
0x02-functions_nested_loops/2-print_alphabet_x10
0x02-functions_nested_loops/3-islower
0x02-functions_nested_loops/5-sign
0x02-functions_nested_loops/7-print_last_digit
0x02-functions_nested_loops/8-24_hours
0x02-functions_nested_loops/9-times_table
0x02-functions_nested_loops/file1
0x02-functions_nested_loops/file2
f
file3
file4
file5
file6
find . -executable -type f
g
