./10-add
./100-times_table
./101-natural
./102-fibonacci
./103-fibonacci
./11-print_to_98
./2-print_alphabet_x10
./3-islower
./5-sign
./7-print_last_digit
./8-24_hours
./9-times_table
./file1
./file11
./file2
10-add
100-times_table
101-natural
102-fibonacci
103-fibonacci
11-print_to_98
2-print_alphabet_x10
3-islower
5-sign
7-print_last_digit
8-24_hours
9-times_table
